.ChatMain
  .ChatMain__GroupInfo
    .ChatMain__GroupInfo__leftbox
      .ChatMain__GroupInfo__leftbox--groupname
        %p test
      .ChatMain__GroupInfo__leftbox--groupmenber
        %p Member:sawa
    .ChatMain__GroupInfo__rightbox
      .ChatMain__GroupInfo__rightbox--editbtn
        = link_to 'Edit', '#'
  .ChatMain__MessagesList
    .ChatMain__MessagesList__box
      .ChatMain__MessagesList__box__group
        .ChatMain__MessagesList__box__group--name
          %p sawa
        .ChatMain__MessagesList__box__group--date
          %p 2020/02/06(THU) 07:35:00
      .ChatMain__MessagesList__box__message
        %p おはよう！
    .ChatMain__MessagesList__box
      .ChatMain__MessagesList__box__group
        .ChatMain__MessagesList__box__group--name
          %p sawa
        .ChatMain__MessagesList__box__group--date
          %p 2020/02/06(THU) 07:35:00
      .ChatMain__MessagesList__box__message
        %p おはよう！2
    .ChatMain__MessagesList__box
      .ChatMain__MessagesList__box__group
        .ChatMain__MessagesList__box__group--name
          %p sawa
        .ChatMain__MessagesList__box__group--date
          %p 2020/02/06(THU) 07:35:00
      .ChatMain__MessagesList__box__message
        %p おはよう！3
    .ChatMain__MessagesList__box
      .ChatMain__MessagesList__box__group
        .ChatMain__MessagesList__box__group--name
          %p sawa
        .ChatMain__MessagesList__box__group--date
          %p 2020/02/06(THU) 07:35:00
      .ChatMain__MessagesList__box__message
        %p おはよう！4
    .ChatMain__MessagesList__box
      .ChatMain__MessagesList__box__group
        .ChatMain__MessagesList__box__group--name
          %p sawa
        .ChatMain__MessagesList__box__group--date
          %p 2020/02/06(THU) 07:35:00
      .ChatMain__MessagesList__box__message
        %p おはよう！5
    .ChatMain__MessagesList__box
      .ChatMain__MessagesList__box__group
        .ChatMain__MessagesList__box__group--name
          %p sawa
        .ChatMain__MessagesList__box__group--date
          %p 2020/02/06(THU) 07:35:00
      .ChatMain__MessagesList__box__message
        %p おはよう！6
    .ChatMain__MessagesList__box
      .ChatMain__MessagesList__box__group
        .ChatMain__MessagesList__box__group--name
          %p sawa
        .ChatMain__MessagesList__box__group--date
          %p 2020/02/06(THU) 07:35:00
      .ChatMain__MessagesList__box__message
        %p おはよう！7
  .ChatMain__MessageForm
    = form_for [@group, @message] do |f|
      .ChatMain__MessageForm__FormBox
        .ChatMain__MessageForm__FormBox__textbox
          = f.text_field :content, class: 'ChatMain__MessageForm__FormBox__textbox', placeholder: 'type a message'
          .ChatMain__MessageForm__FormBox__textbox--img
            =f.label :image, class: 'ChatMain__MessageForm__FormBox__textbox--img' do
              = icon('fas', 'image')
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'ChatMain__MessageForm__FormBox--SendBtn'