.ChatMain
  .ChatMain__GroupInfo
    .ChatMain__GroupInfo__leftbox
      .ChatMain__GroupInfo__leftbox--groupname
        = @group.name
      .ChatMain__GroupInfo__leftbox--groupmenber
        %ul
          %li Member :&nbsp
          - @group.users.each do |user|
            = user.name.chomp
    .ChatMain__GroupInfo__rightbox
      .ChatMain__GroupInfo__rightbox--editbtn
        = link_to 'Edit', '#'
  .ChatMain__MessagesList
    .messages
      = render @messages
  .ChatMain__MessageForm
    = form_for [@group, @message] do |f|
      .ChatMain__MessageForm__FormBox
        .ChatMain__MessageForm__FormBox__textbox
          = f.text_field :content, class: 'ChatMain__MessageForm__FormBox__textbox', placeholder: 'type a message'
          .ChatMain__MessageForm__FormBox__textbox--img
            =f.label :image, class: 'ChatMain__MessageForm__FormBox__textbox--img' do
              = icon('fas', 'image')
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'ChatMain__MessageForm__FormBox--SendBtn'