.SideBar
  .SideBar__UserName
    .SideBar__UserName__TopItems
      .SideBar__UserName__TopItems__name
        %h3
          = current_user.name
      .SideBar__UserName__TopItems__icons
        %ul.SideBar__UserName__TopItems__icons__btn
          %li.SideBar__UserName__TopItems__icons__btn--edit
            = link_to new_group_path do
              = icon('fas', 'edit')
          %li.SideBar__UserName__TopItems__icons__btn--cog
            = link_to edit_user_path(current_user) do
              = icon('fas', 'cog')
  .SideBar__GroupList
    - current_user.groups.each do |groupbox|
      .groupbox
        = link_to '#' do
          .groupbox__GroupName
            = groupbox.name
          .groupbox__GroupMessage
            %p まだメッセージがありません